.wrapper {
    position: absolute;
    right: 10px;
    top: calc(50vh - 250px);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    pointer-events: none;
}

.contents {
    display: flex;
    width: 250px;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
}

.minimizeButton {
    width: 20px;
    height: 50px;
    padding: 0px;
    text-align: center;
}

.pointerEventsWrapper {
    pointer-events: all;
}
